{{!-- .row>.col>.list-group>.list-group-item --}}

<div class="row">
  <div class="col">
    <div class="list-group">
      <div class="list-group-item">
        {{user.name}}
      </div>
    </div>
  </div>
</div>