
<form action="/users/register" method="POST" class="form col-5 m-auto">

  <div class="form-group">
    <label for="">Name:</label>
    <input type="text" class="form-control" name="name" value="{{user.name}}">
  </div>
  <div class="form-group">
    <label for="">E-Mail:</label>
    <input type="text" class="form-control" name="email" value="{{user.email}}">
  </div>
  <div class="form-group">
    <label for="">Password:</label>
    <input type="text" class="form-control" name="password" value="{{user.password}}">
  </div>
  <div class="form-group">
    <input type="submit" class="btn btn-success btn-block" value="Register">
  </div>

</form>