head
    title #{title}
    link(rel="stylesheet", href="static/bootstrap.css")
body
  .container
    .row
      .col
        h1.title #{title}
        p
        | My text inside the p tag
        | My text inside the p tag
        | My text inside the p tag
