<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>{{title}}</title>
  <base href="/">
  <link rel="stylesheet" href="static/bootstrap.css">
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col">
        <h1>{{title}}</h1>
        {{messages.info}}
        {{{body}}}
        {{error}}
      </div>
    </div>
  </div>
</body>
</html>